/* Importacoes */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');

/* Layout geral */
.remark-slide-content {
    background-color: #FFFFFF;
    border-bottom: 70px solid #555555;
    font-size: 28px;
    font-weight: 400;
    border-top: 0px;
    padding: 2em 2em 1em 2em;
}

.remark-slide-content h1 {
    color: #ffffff;
    position: relative;
    top: 655px;
    background-image: url(logo.png);
    background-position: 1% 45%;
    background-size: 93px;
    background-repeat: no-repeat;
}

/* Texto */
body {
    font-family: 'Montserrat','Droid Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif;
    color:#000000;
    font-weight:300;

}

/* Numeracao do slide */
.remark-slide-number {
    color: #FAFAFA;
    bottom: 25px;
    font-size: 9pt;
    display: none;
}

.title-slide h1, h2, h3, h4 {
  display: none;
}

.title-slide  {
    background-color: #555555;
    border-bottom: 0x;
    font-size: 24px;
    font-weight: 400;
    border-top: 0px;
    background-image: url(logo.png);
    background-position: 50% 50%;
    background-size: 340px;
}

/* Tipos de fundo */
.inverse {
  background-color: #000000;
  text-shadow: none;
  border-bottom: none;
  color: #555555;
}

.inverse .remark-slide-number {
    display: none;
}


.inverse2 {
  background-color: #555555;
  text-shadow: none;
  border-bottom: none;
  color: #FFFFFF;
}

.inverse2 .remark-slide-number {
    display: none;
}

/* Linhas horizontais */
hr, .title-slide h2::after, .mline h1::after {
  content: '';
  display: block;
  border: none;
  background-color: #555555;
  color: #555555;
  height: 2px;
  margin-left: 0px;
}

hr2, .title-slide h2::after, .mline h1::after {
  content: '';
  display: block;
  border: none;
  background-color: #555555;
  color: #555555;
  height: 2px;
}

hr3, .title-slide h2::after, .mline h1::after {
  content: '';
  display: block;
  border: none;
  background-color: #FFFFFF;
  color: #FFFFFF;
  height: 3px;
}


/* Texto de subcapa */
cinza {
  color: #555555;
  font-size:22px;
  font-weight:400;
}


/* Paginas quebradas */
.remark-slide-scaler {
    overflow: hidden;
}

/* Slide final e links */
a, a:visited {
    color: #FFFFFF;
    text-decoration:none;
    font-size:24px;
    transition: all 0.4s ease-out;
      -webkit-transition: all 0.4s ease-out;
      -moz-transition: all 0.4s ease-out;
      -o-transition: all 0.4s ease-out;
      -ms-transition: all 0.4s ease-out;
}

a:hover, a:focus {
    color: #111111;
    background: #000000;
    border-bottom: none;
}

.remark-slide>.center a:hover, a:focus {
    color: #f3f3f3;
    background: #000000;
    border-bottom: none;
}



.remark-slide table thead th {
    border-bottom: none;
}

cinza2 {
  color: #555555;
  font-size:18px;
  font-weight:400;
}

cinza3 {
  color: #555555;
  font-size:16px;
  font-weight:400;
}

titulo {
  font-size:23px;
  font-weight: bold;
}

.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even) {
    background: none;
}


/* Exportacao pra PDF */
@page { margin: 0; }
@media print {

  .remark-slide-scaler {
    width: 908px;
    height: 681px;
    transform: scale(1.02349);
    left: 3.83333px;
    top: 0px;
  }

  .remark-slide-content h1 {
    top: 635px;
}

